// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

li {
  text-decoration: none;
  background-color: #5eb9fd;
  display: inline;
  padding: 15px 15px;
  margin: 8px 8px;
  color: white;
}
